* {
    box-sizing: border-box;
    font-size: 18px;
}

body {
    background: #74c35a;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #bbbbbb;
}

.c-form {
    width: 493px;
    height: 393px;
    background: white;
    margin: 182px auto 0;
    padding-top: 60px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.c-form__input {
    width: 370px;
    height: 63px;
    display: block;
    margin: 0 auto 21px;
    background: #f2f2f2;
    border: none;
    padding-left: 20px;
}

.c-form__input::-webkit-input-placeholder {
    color: #bbbbbb;
}

.button {
    background: #00b242;
    color: white;
    border: none;
}

.c-form__register {
    text-align: center;
    font-size: 16px;
}

.c-form__register-link {
    text-decoration: none;
    color: #74c35a;
    font-size: 16px;
}

.invalid {
    background: rgba(128, 0, 0, 0.50);
}